In [139]:
import pandas as pd

In [140]:
array_list = [
    ['Moises Fernando', 23, 1.70, 'Masculino', 'Estudiante', 'A+'],
    ['Maricielo', 22, 1.66, 'Femenino', 'Egresado', 'A+'],
    ['Nancy', 53, 1.62, 'Femenino', 'Trabajador', 'A+'],
    ['Moises', 58, 1.70, 'Femenino', 'Trabajador', 'A+'],
    ['Blearn', 54, 1.76, 'Masculino', 'Trabajador', 'O'],
]

In [141]:
data = pd.DataFrame(data=array_list, columns=['Nombres', 'Edad', 'Altura_(m)', 'Genero', 'Perfil', 'Tipo_sangre'])
data

           Nombres  Edad  Altura_(m)     Genero      Perfil Tipo_sangre
0  Moises Fernando    23        1.70  Masculino  Estudiante          A+
1        Maricielo    22        1.66   Femenino    Egresado          A+
2            Nancy    53        1.62   Femenino  Trabajador          A+
3           Moises    58        1.70   Femenino  Trabajador          A+
4           Blearn    54        1.76  Masculino  Trabajador           O

In [142]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Nombres      5 non-null      object
 1   Edad         5 non-null      int64
 2   Altura_(m)   5 non-null      float64
 3   Genero       5 non-null      object
 4   Perfil       5 non-null      object
 5   Tipo_sangre  5 non-null      object
dtypes: float64(1), int64(1), object(4)
memory usage: 368.0+ bytes

In [143]:
columnas_categoricas = [col for col in data.columns if data[col].dtypes == 'object']
columnas_categoricas

['Nombres', 'Genero', 'Perfil', 'Tipo_sangre']

In [144]:
columnas_numericas = [col for col in data.columns if data[col].dtypes != 'object']
columnas_numericas

['Edad', 'Altura_(m)']

In [145]:
caracteristicas_categoricas = [col for col in columnas_categoricas if col != 'Nombres']
caracteristicas_categoricas

['Genero', 'Perfil', 'Tipo_sangre']

LABELENCONDER
    solo esta pensando para prepocesar para cada columna, a diferencia del ONEHOTENCONDER, por ende, es importante recorrer cada una de ellas

In [146]:
from sklearn.preprocessing import LabelEncoder

In [147]:
enconder = LabelEncoder()
for column in caracteristicas_categoricas:
    enconder.fit(data[column])
    data[column] = enconder.transform(data[column])

In [148]:
data

           Nombres  Edad  Altura_(m)  Genero  Perfil  Tipo_sangre
0  Moises Fernando    23        1.70       1       1            0
1        Maricielo    22        1.66       0       0            0
2            Nancy    53        1.62       0       2            0
3           Moises    58        1.70       0       2            0
4           Blearn    54        1.76       1       2            1